<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
    <!-- CONTENT -->
    <div class="content p-24">
       <div class="h1">
          Bond Transaction
       </div>
       <p class="pt-10">
       </p>
       <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">
       <!-- REACTIVE FORM EXAMPLE -->
       <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
        <div>
        <div>
             <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between" fxFlex="1 0 auto">
                <div class="h2 mb-24">List Bond Transaction</div>
                <div class="control-div">
                   <button mat-button (click)="hide($event)">
                      <mat-icon class="nav-link-icon" color="warn" >cancel</mat-icon>
                      Hide
                   </button>
                   <button mat-button (click)="search($event)">
                      <mat-icon class="nav-link-icon" color="warn">search</mat-icon>
                      Search
                   </button>
                   <button mat-button (click)="clear()">
                      <mat-icon class="nav-link-icon" color="warn">clear</mat-icon>
                      Clear
                   </button>
                </div>
             </div>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0">

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Transaction Type</mat-label>
              <mat-select placeholder="N/A" formControlName="transactionType">
                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                  {{transactionType}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Transaction Status</mat-label>
              <mat-select placeholder="Transaction Status" formControlName="transactionStatus">
                <mat-option *ngFor="let t of transactionStatus" [value]="t">
                  {{t}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Trading Account</mat-label>
              <input type="text" placeholder="03 chars to search" matInput (keyup)="searchTradingAccount($event.target.value)" formControlName="tradingAccount" [matAutocomplete]="tradingAccountAuto">
              <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
              <mat-autocomplete autoActiveFirstOption #tradingAccountAuto="matAutocomplete" [displayWith]="displayTradingAccount.bind(this)">
                <mat-option *ngFor="let option of filteredOptionsTradingAccount" [value]="option">
                  {{option.accountName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Bond Instrument</mat-label>
              <input type="text" placeholder="03 chars to search" aria-label="Number" matInput (keyup)="searchBondInstrument($event.target.value)" formControlName="bondInstrument" [matAutocomplete]="bondInstrumentAuto">
              <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
              <mat-autocomplete autoActiveFirstOption #bondInstrumentAuto="matAutocomplete" [displayWith]="displayBondInstrument.bind(this)">
                <mat-option *ngFor="let option of filteredOptionsBondInstrument" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          </div>
          <!--helo-->

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                <mat-label>Trade Date From</mat-label>
                <input matInput [matDatepicker]="tradeStartDate" formControlName="tradeStartDate">
                <mat-datepicker-toggle matSuffix [for]="tradeStartDate"></mat-datepicker-toggle>
                <mat-datepicker #tradeStartDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                  <mat-label>Trade Date To</mat-label>
                <input matInput [matDatepicker]="tradeEndDate" formControlName="tradeEndDate">
                <mat-datepicker-toggle matSuffix [for]="tradeEndDate"></mat-datepicker-toggle>
                <mat-datepicker #tradeEndDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div  fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                <mat-label>Value Date From</mat-label>
                <input matInput [matDatepicker]="valueStartDate" formControlName="valueStartDate">
                <mat-datepicker-toggle matSuffix [for]="valueStartDate"></mat-datepicker-toggle>
                <mat-datepicker #valueStartDate></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                  <mat-label>Value Date To</mat-label>
                <input matInput [matDatepicker]="valueEndDate" formControlName="valueEndDate">
                <mat-datepicker-toggle matSuffix [for]="valueEndDate"></mat-datepicker-toggle>
                <mat-datepicker #valueEndDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                <mat-label>Quantity Minimum</mat-label>
                <input matInput placeholder="Quantity Minimun" formControlName="quantityStart">
              </mat-form-field>
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="50">
                  <mat-label>Quantity Maximum</mat-label>
                <input matInput placeholder="Quantity Maximum" formControlName="quantityEnd">
              </mat-form-field>
            </div>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Market</mat-label>
              <input matInput placeholder="Market" formControlName="market">
            </mat-form-field>

          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column" fxLayoutAlign="wrap">

            <mat-table #table [dataSource]="data.dataSource">

              <ng-container cdkColumnDef="transactionType">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Transaction Type</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="text-truncate font-weight-600">
                    {{contact.transactionType==0?"Buy":"Sell"}}</p>
                </mat-cell>
              </ng-container>

              <ng-container cdkColumnDef="transactionStatus">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Transaction Status</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="position text-truncate">
                    {{contact.transactionStatus}}
                  </p>
                </mat-cell>
              </ng-container>

              <ng-container cdkColumnDef="tradingAccount">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="40">Trading Account</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="40" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.ourTradingAccount?contact.ourTradingAccount.accountName:""}}
                  </p>
                </mat-cell>
              </ng-container>

              <ng-container cdkColumnDef="ISIN">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">ISIN/CUSIP</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.ISIN}}
                  </p>
                </mat-cell>
              </ng-container>

              <ng-container cdkColumnDef="tradeDate">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Trade Date</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.tradeDate}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="valueDate">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Value Date</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.valueDate}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="settlementDate">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Settlement Date</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.settlementDate}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="quantity">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="5">Quantity</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="5" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.quantity}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="price">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="5">Price</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="5" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.price}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="settlementConsideration">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Settlement Consideration</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.settlementConsideration}}
                  </p>
                </mat-cell>
              </ng-container>
              <ng-container cdkColumnDef="market">
                <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Market</mat-header-cell>
                <mat-cell *cdkCellDef="let contact" fxFlex="10" (click)="toDetails(contact.transactionId)">
                  <p class="office text-truncate">
                    {{contact.market}}
                  </p>
                </mat-cell>
              </ng-container>


              <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *cdkRowDef="let contact; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator2 [length]="10" [pageIndex]="1" [pageSize]="5" [pageSizeOptions]="[5, 25, 50, 100, 250]">
            </mat-paginator>
          </div>

        </div>
      </form>
    </div>
    <!-- / CONTENT -->
  </div>
</div>
