<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
  <div class="content p-24">

        <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">

        <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" [formGroup]="form">
          <div>

          <div>
            <div fxFlex="1 0 auto" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                <div class="h2 mb-24">Organisation Details</div>
                <div *ngIf="disableForm" class="control-div">
                   <button mat-button (click)="cancel($event)">
                      <mat-icon class="nav-link-icon" color="warn" >reply</mat-icon>
                      Back
                   </button>
                   <button mat-button (click)="amend($event)">
                      <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                      Amend
                   </button>
                </div>
                <div *ngIf="!disableForm" class="control-div">
                  <button mat-button (click)="cancelEditForm($event)">
                     <mat-icon class="nav-link-icon" color="warn" >cancel</mat-icon>
                     Cancel
                  </button>
                  <button mat-button (click)="save($event)">
                     <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                     Save
                  </button>
               </div>
            </div>
            <hr>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom >
            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>Fully Legal Name</mat-label>
              <input matInput placeholder="Fully Legal Name" formControlName="fullLegalName"  required>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>Short Name</mat-label>
              <input matInput placeholder="Short Name" formControlName="shortName" required>
            </mat-form-field>

            <!--<mat-form-field *ngIf="disableForm" appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>Stutus</mat-label>
              <input matInput placeholder="Status" value={{organisation.status}} formControlName="statusShow" attr.disabled required>
            </mat-form-field>-->

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto" >
              <mat-label>Status</mat-label>
              <mat-select placeholder="Status....." formControlName="status"  required>
                <mat-option *ngFor="let s of status" [value]="s.value" >
                {{s.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom>

            <div fxFlex.xs="100" fxFlex.gt-xs="auto">
              <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                  Organisation Info
                  <hr>
              </div>

              <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">
                  <mat-form-field appearance={{appearance}}>
                    <mat-label>Industry</mat-label>
                    <input matInput placeholder="Industry" formControlName="industry" >
                  </mat-form-field>

                  <mat-form-field appearance={{appearance}}>
                    <mat-label>Ticker</mat-label>
                    <input matInput placeholder="Ticker" formControlName="ticker"  >
                  </mat-form-field>

                  <mat-form-field appearance={{appearance}}>
                    <mat-label>Pricing Source</mat-label>
                    <input matInput placeholder="Pricing Source" formControlName="pricingSource"  >
                  </mat-form-field>
              </div>
            </div>

            <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">

              <mat-form-field appearance={{appearance}}>
                <mat-label>Location</mat-label>
                <input placeholder="Location" formControlName="location" (keyup)="searchLocation($event.target.value)" matInput formControlName="location"
                [matAutocomplete]="autoLocation">
                <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoLocation="matAutocomplete" [displayWith]="displayLocation.bind(this)">
              <mat-option *ngFor="let option of filteredOptionsLocation" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
                <!-- <mat-error *ngIf="formErrors.location.required">
                  Location is required!
                </mat-error> -->
              </mat-form-field>

              <mat-form-field appearance={{appearance}}>
                <mat-label>Country Of Location</mat-label>
                <input placeholder="Country Of Location" (keyup)="searchCountry($event.target.value)" matInput
                formControlName="countryOfLocation" [matAutocomplete]="autoCountry">
                <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
            <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete" [displayWith]="displayCountry.bind(this)">
              <mat-option *ngFor="let option of filteredOptionsCountry" [value]="option.country">
                {{option.country}}
              </mat-option>
            </mat-autocomplete>
            <!-- <mat-error *ngIf="formErrors.country.required">
                    Country Of Location is required!
                  </mat-error> -->
              </mat-form-field>
          </div>

          </div>

          </div>
        </form>
      </div>
  </div>
</div>
