<ng-container *ngIf="!item.hidden">

    <!-- item.url -->
    <a class="nav-link" *ngIf="item.url && !item.function"
        routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: item.exactMatch || false}" matRipple>
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <!-- item.function -->
    <span class="nav-link" *ngIf="!item.url && item.function" (click)="item.function()" matRipple>
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </span>

    <!-- item.url && item.function -->
    <a class="nav-link" *ngIf="item.url && item.function" (click)="item.function()"
        routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: item.exactMatch || false}" matRipple>
        <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>

    <ng-template #itemContent>
        <button
            matTooltip={{item.title}}
            [matTooltipPosition]="position">
            <mat-icon class="nav-link-icon" *ngIf="item.icon">{{item.icon}}</mat-icon>
        </button>

        <span [routerLink]="[item.url]+'/list'" class="nav-link-title" [translate]="item.translate">{{item.title}}</span>
        <!--<a [routerLink]="item.url+'/capture'"> Capture </a>-->
        <!--&nbsp;-->
        <!--<a>|</a>-->
        <!--&nbsp;-->
        <!--<a [routerLink]="item.url+'/list'" > List </a>-->

        <!-- <span class="nav-link-badge"
            [ngStyle]="{'background-color': '#0d47a1' ,'color': '#ffffff'}">
            List
        </span> -->
    </ng-template>

</ng-container>
