<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
    <div class="content p-24"> 
          
          <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">
  
          <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
            <div>
  
            <div>
              <div fxFlex="1 0 auto" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                  <div class="h2 mb-24">Capture Order</div>
                  <div class="control-div">
                     <button mat-button (click)="cancel($event)">
                        <mat-icon class="nav-link-icon" color="warn" >cancel</mat-icon>
                        Cancel
                     </button>
                     <button mat-button (click)="saveNew($event)">
                        <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                        Save / New
                     </button>
                     <button mat-button (click)="save()">
                        <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                        Save
                     </button>
                  </div>
              </div>
              <hr>
            </div>
  
            <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom >
            
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Buy/Sell</mat-label> 
                <mat-select placeholder="Type....." formControlName="type">
                  <mat-option *ngFor="let s of status" [value]="s.value" >
                    {{s.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                  <mat-label>Bond Instrument</mat-label>
                  <input type="text" placeholder="Bond" aria-label="Number" matInput [formControl]="myControlBond" [matAutocomplete]="autoBond"
                  (keyup)="a" formControlName="bondId">
                  <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                  <mat-autocomplete #autoBond="matAutocomplete" (optionSelected)="selectBond($event)">
                    <mat-option *ngFor="let bond of filteredBonds | async" [value]="bond.ISIN">
                      {{bond.ISIN}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Quantity</mat-label> 
                <input type="number" matInput placeholder="Quantity" formControlName="quantity">
                <!-- <mat-error *ngIf="formErrors.legalName.required">
                  Account Type is required!
                </mat-error> -->
              </mat-form-field>

              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Price Limit</mat-label> 
                <input type="number" matInput placeholder="Price Limit" formControlName="priceLimit">
                <!-- <mat-error *ngIf="formErrors.shortName.required">
                  Organisation is required!
                </mat-error> -->
              </mat-form-field>

              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                  <mat-label>Trading Account</mat-label>
                  <input type="text" placeholder="Account" (keyup)="a" aria-label="Number" matInput [formControl]="myControlAccount" [matAutocomplete]="autoAccount" formControlName="accId">
                  <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                  <mat-autocomplete #autoAccount="matAutocomplete" (optionSelected)="selectAccount($event)">
                    <mat-option *ngFor="let account of filteredAccounts | async" [value]="account.accountCode" (onSelectionChange)="myChangeAcc($event, account)">                  
                      <span>{{ account.accountCode }}</span> |
                      <small>Name: {{account.accountName}}</small>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

            </div>
  
            <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom>
         
              <div fxFlex.xs="100" fxFlex.gt-xs="auto" fxFlex.gt-md="50">
                <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                    Order Details
                    <hr>
                </div>
        
                <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <mat-form-field appearance={{appearance}}>
                        <mat-label>Order Time</mat-label>
                        <input matInput [matDatepicker]="_orderTime" formControlName="orderTime" required>
                        <mat-datepicker-toggle matSuffix [for]="_orderTime"></mat-datepicker-toggle>
                        <mat-datepicker #_orderTime></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance={{appearance}}>
                      <mat-label>Market</mat-label> 
                      <input matInput placeholder="Market" formControlName="market">
                      <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                      <!-- <mat-error *ngIf="formErrors.location.required">
                        Location is required!
                      </mat-error> -->
                    </mat-form-field>

                    <mat-form-field appearance={{appearance}}>
                        <mat-label>Trade Currency</mat-label>
                        <mat-select placeholder="Trade Currency" required formControlName="tradeCurrency">
                          <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{currency}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field appearance={{appearance}}>
                        <mat-label>Settlement Currency</mat-label>
                        <mat-select placeholder="Settlement Currency" required formControlName="settlementCurrency">
                          <mat-option *ngFor="let currency of currencies" [value]="currency">
                            {{currency}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field appearance={{appearance}}>
                      <mat-label>Gross Consideration</mat-label> 
                      <input type="number" matInput placeholder="Gross Consideration" disabled formControlName="grossConsideration">
                      <!-- <mat-error *ngIf="formErrors.country.required">
                        Country Of Location is required!
                      </mat-error> -->
                    </mat-form-field>

                </div>
              </div>

              <div fxFlex.xs="100" fxFlex.gt-xs="auto" fxFlex.gt-md="50"></div>
        
            </div>

            </div>          
          </form>
        </div>
    </div>
  </div>