.mat-row:hover {
    background-color: #1e88e5;

}
.mat-row:hover mat-cell{
    color: white;
}

.car-margin-bottom{
    margin-bottom: 1%;
}
.color-price{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.mat-card-image{
    margin: 0 !important;
}
.control-div{
    padding: 10px 0;
}