<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
  <div class="content p-24">

    <div class="h1">
      Bond
    </div>
    <p class="pt-10">
    </p>
    <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">

      <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>

          <div>
            <div fxFlex="1 0 auto" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
              <div class="h2 mb-24">Capture Bond</div>
              <div class="control-div">
                <button mat-button (click)="cancel($event)">
                  <mat-icon class="nav-link-icon" color="warn">cancel</mat-icon>
                  Cancel
                </button>
                <button mat-button (click)="save()">
                  <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                  Save / New
                </button>
                <button type="submit" mat-button (click)="save()">
                  <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                  Save
                </button>
              </div>
            </div>
            <hr>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>CUSIP</mat-label>
              <input matInput placeholder="CUSIP" required formControlName="CUSIP">
              <!-- <mat-error *ngIf="formErrors.legalName.required">
                  CUSIP is required!
                </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>ISIN</mat-label>
              <input matInput placeholder="ISIN" required formControlName="ISIN">
              <!-- <mat-error *ngIf="formErrors.legalName.required">
                ISIN is required!
              </mat-error> -->
            </mat-form-field>
            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>Bond Name</mat-label>
              <input matInput placeholder="Short name" required formControlName="name">
              <!-- <mat-error *ngIf="formErrors.legalName.required">
                ISIN is required!
              </mat-error> -->
            </mat-form-field>
            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
              <mat-label>Issuer</mat-label>
              <!-- <input matInput placeholder="Status" required hidden formControlName="Issuer"> -->
              <mat-select placeholder="N/A" required formControlName="Issuer">
                <mat-option *ngFor="let org of orgs" [value]="org.fullLegalName">
                  {{org.fullLegalName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px" fxLayoutGap.xs="0" *IfOnDom>

            <div fxFlex.xs="100" fxFlex.gt-xs="auto">
              <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                Bond Details
                <hr>
              </div>

              <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">
                <mat-form-field appearance={{appearance}}>
                  <mat-label>Face Value</mat-label>
                  <input matInput placeholder="Face Value" required formControlName="faceValue">
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Currency</mat-label>
                  <!-- <input matInput placeholder="Face Value" value={{bonds.currency}} *ngIf="!activeEdit" required > -->
                  <mat-select placeholder="N/A" required formControlName="currency">
                    <mat-option *ngFor="let currency of currencys" [value]="currency">
                      {{currency}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Issue Date</mat-label>
                  <input matInput [matDatepicker]="picker1" formControlName="issueDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <!-- <mat-form-field>
                  <mat-label>1st Settled Date</mat-label>
                  <input matInput [matDatepicker]="dp1" placeholder="Completely disabled" disabled>
                  <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                  <mat-datepicker #dp1></mat-datepicker>
                </mat-form-field> -->

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Maturity Date</mat-label>
                  <input matInput [matDatepicker]="_maturityDate" formControlName="maturityDate" required>
                  <mat-datepicker-toggle matSuffix [for]="_maturityDate"></mat-datepicker-toggle>
                  <mat-datepicker #_maturityDate></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Amount Outstanding</mat-label>
                  <input matInput placeholder="Amount Outstanding" formControlName="amountOutstanding">
                </mat-form-field>

              </div>
            </div>

            <div fxFlex.xs="100" fxFlex.gt-xs="auto">
              <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                Coupon Details
                <hr>
              </div>

              <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">

                <mat-form-field appearance={{appearance}}>
                  <input matInput placeholder="Input" style="display: none">
                  <mat-radio-group required formControlName="type">
                    <mat-label>Type *</mat-label>
                    <mat-radio-button value="1">Fixed</mat-radio-button>
                    <mat-radio-button value="2">Floating</mat-radio-button>
                  </mat-radio-group>
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Frequency</mat-label>
                  <mat-select placeholder="N/A" required formControlName="frequency">
                    <mat-option *ngFor="let frequency of frequencies" [value]="frequency">
                      {{frequency}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Coupon Payment Date</mat-label>
                  <input matInput [matDatepicker]="picker2" formControlName="couponPaymentDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Rate</mat-label>
                  <input matInput placeholder="Rate" required formControlName="annualCouponRate">
                </mat-form-field>

                <mat-form-field appearance={{appearance}}>
                  <mat-label>Benchmark</mat-label>
                  <input matInput placeholder="Benchmark" formControlName="benchmark">
                </mat-form-field>

              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
