<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
  <div class="content p-24">

    <div class="h1">
      Bond Transaction
    </div>
    <p class="pt-10">
    </p>
    <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">

      <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form">
        <div>

          <div>
            <div fxFlex="1 0 auto" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
              <div class="h2 mb-24">Capture Bond Transaction</div>
              <div class="control-div">
                <button mat-button (click)="cancel($event)">
                  <mat-icon class="nav-link-icon" color="warn">cancel</mat-icon>
                  Cancel
                </button>
                <button mat-button (click)="saveNew($event)">
                  <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                  Save / New
                </button>
                <button mat-button (click)="save()">
                  <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                  Save
                </button>
              </div>
            </div>
            <hr>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0"
            *IfOnDom>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Buy/Sell</mat-label>
              <mat-select placeholder="Status....." formControlName="type" (keyup.enter)="search($event)" required>
                <mat-option *ngFor="let s of type" [value]="s.value">
                  {{s.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Bond Instrument</mat-label>
              <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
              <input matInput placeholder="3 char(s) to search" formControlName="bondInstrument" (keyup)="searchBondInstrument($event.target.value)"
               [matAutocomplete]="autoBondInstrument" required>
              <mat-autocomplete autoActiveFirstOption #autoBondInstrument="matAutocomplete" [displayWith]="displayBondInstrument.bind(this)">
                <mat-option *ngFor="let option of filteredOptionsBondInstrument" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
              <!-- <mat-error *ngIf="formErrors.legalName.required">
                Account Code is required!
              </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Market</mat-label>
              <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
              <input matInput placeholder="Quantity" formControlName="market"(keyup)="searchMarket($event.target.value)"
              [matAutocomplete]="autoMarket" required>
              <mat-autocomplete autoActiveFirstOption #autoMarket="matAutocomplete" [displayWith]="displayMarket.bind(this)">
                <mat-option *ngFor="let option of filteredOptionsMarket" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <!-- <mat-error *ngIf="formErrors.legalName.required">
                Account Type is required!
              </mat-error>-->
            </mat-form-field>
            <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="24">
              <mat-label>Order Time</mat-label>
              <input matInput [matDatepicker]="valueStartDate" >
              <mat-datepicker-toggle matSuffix [for]="valueStartDate"></mat-datepicker-toggle>
              <mat-datepicker #valueStartDate></mat-datepicker>
            </mat-form-field>

            <div fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="auto" class="control-div">
              <button mat-button color="accent" (click)="search($event)">
                <mat-icon class="nav-link-icon" color="warn">search</mat-icon>
                Search
              </button>
              <button mat-button color="accent" (click)="reset($event)">
                <mat-icon class="nav-link-icon" color="warn">refresh</mat-icon>
                Reset
              </button>
            </div>
          </div>

          <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column wrap" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0"
            *IfOnDom>

            <div fxFlex.xs="100" fxFlex.gt-xs="auto">
              <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                Order Details
                <hr>
              </div>
              <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">
                <mat-table #table [dataSource]="dataOrder.dataSource">

                  <ng-container cdkColumnDef="orderTime">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="auto">Order Time</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="auto">
                      <p class="text-truncate font-weight-600">
                        {{contact.orderTime}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="accountName">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="auto">Trading Account</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="auto">
                      <p class="position text-truncate">
                        {{contact.tradingAccount?contact.tradingAccount.accountName:""}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="priceLimit">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Price Limit</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <p class="office text-truncate">
                        {{contact.priceLimit}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="quantity">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Quantity</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <p class="office text-truncate">
                        {{contact.quantity}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="match">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Match</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <mat-checkbox formControlName="matchOrder" (click)="checkOrder($event.target,contact)"></mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *cdkHeaderRowDef="displayedColumnsOfOrder"></mat-header-row>
                  <mat-row *cdkRowDef="let contact; columns: displayedColumnsOfOrder;"></mat-row>
                </mat-table>
              </div>
            </div>
            <!--asdasdasd-->
            <div fxFlex.xs="100" fxFlex.gt-xs="auto">
              <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                Quote Details
                <hr>
              </div>
              <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column">
                <mat-table #table [dataSource]="dataQuote.dataSource">

                  <ng-container cdkColumnDef="quoteTime">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="auto">Quote Time</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="auto">
                      <p class="text-truncate font-weight-600">
                        {{contact.timeOfQuote}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="tradingAccount">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="auto">Trading Account</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="auto">
                      <p class="position text-truncate">
                        {{contact.tradingAccount?contact.tradingAccount.accountName:""}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="price">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Price</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <p class="office text-truncate">
                        {{contact.price}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="quantity">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Quantity</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <p class="office text-truncate">
                        {{contact.quantity}}
                      </p>
                    </mat-cell>
                  </ng-container>

                  <ng-container cdkColumnDef="match">
                    <mat-header-cell *cdkHeaderCellDef mat-sort fxFlex="10">Match</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact" fxFlex="10">
                      <mat-checkbox formControlName="matchQuote" (click)="checkQuote($event.target,contact)"></mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *cdkHeaderRowDef="displayedColumnsOfQuote"></mat-header-row>
                  <mat-row *cdkRowDef="let contact; columns: displayedColumnsOfQuote;"></mat-row>
                </mat-table>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>