<ng-container *ngIf="layout == 'vertical'">
    <div class="navbar-vertical">
        <div class="navbar-header">

            <button mat-icon-button class="toggle-button-navbar"
                (click)="toggleSidebarFolded()" fxHide.lt-lg>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" [routerLink] ="['']" style="cursor: pointer" >
                <p class="app-title">Dashboard</p>
            </div>
            
            <button mat-icon-button class="toggle-button-navbar"
                    (click)="toggleSidebarOpened()" fxHide.gt-md>
                <mat-icon>arrow_back</mat-icon>
            </button>




        </div>

        <div *ngIf="login" class="navbar-content">
            <navigation  [navigation]="navigation" layout="vertical"></navigation>
        </div>

    </div>

</ng-container>

<ng-container *ngIf="layout == 'horizontal'">

    <div *ngIf="login" class="navbar-horizontal">
        <navigation  [navigation]="navigation" layout="horizontal"></navigation>
    </div>

</ng-container>
