@import "src/app/layout/scss/import";

body {

    &.sidebar-folded {

        .content-wrapper {

            &:last-child {
                padding-left: 64px !important;
            }

            &:first-child {
                padding-right: 64px !important;
            }

            &:first-child:last-child {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

        }
    }
}

sidebar {

    &.folded:not(.unfolded) {

        .navbar-vertical {

            .navbar-header {
                padding: 0 13px;
                .logo {
                    .logo-text {
                        opacity: 0;
                        transition: opacity 200ms ease;
                    }
                    .app-title{
                      display: none;
                    }
                }
            }
        }
    }
}

navbar {

    &:not(.top-navbar) {
        height: 100%;
    }

    .navbar-vertical {
        //border: 2px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .navbar-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            min-height: 50px;
            padding: 0 16px 0 24px;
            transition: padding 200ms ease;
            //background-color: rgba(255, 255, 255, .05);
            @include mat-elevation(1);

            .logo {
                display: flex;
                align-items: center;
                margin-right: 60px;
                .logo-icon {
                    width: 38px;
                    height: 38px;
                }

                .logo-text {
                    margin-left: 8px;
                    font-size: 20px;
                    font-weight: 300;
                    letter-spacing: 0.4px;
                }
                .app-title{
                  text-transform: uppercase;
                  font-size: 18px;
                  text-shadow: 1px 1px 2px #000;
                }
            }
        }

        .navbar-content {
            display: flex;
            border: 2px solid transparent;
            border-right: 5px solid #0d47a1;
            // box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.37);
            // border-radius: 24px;
            background-color: rgba(255, 255, 255, 1);
            color: #000;
            flex: 1;
        }
    }
}

.top-navbar + #wrapper {

    & > .left-navbar {
        display: none !important;

        @include media-breakpoint-down(md) {
            display: flex !important;
        }
    }
}

