<div id="forms" class="page-layout simple fullwidth" fxLayout="column" PerfectScrollbar>
  <div class="content p-24">

        <div fxLayout="row wrap" fxFlex="100" *IfOnDom fxLayout="column" fxLayout.gt-md="row">

          <form class="mat-white-bg mat-elevation-z1 p-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
          [formGroup]="form">
          <div>
  
            <div>
              <div fxFlex="1 0 auto" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between">
                <div class="h2 mb-24">Organisation Details</div>
                <div *ngIf="disableForm" class="control-div">
                   <button mat-button (click)="cancel($event)">
                      <mat-icon class="nav-link-icon" color="warn" >reply</mat-icon>
                      Back
                   </button>
                   <button mat-button (click)="amend($event)">
                      <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                      Amend
                   </button>
                </div>
                <div *ngIf="!disableForm" class="control-div">
                  <button mat-button (click)="cancelEditForm($event)">
                     <mat-icon class="nav-link-icon" color="warn" >cancel</mat-icon>
                     Cancel
                  </button>
                  <button mat-button (click)="save($event)">
                     <mat-icon class="nav-link-icon" color="warn">save</mat-icon>
                     Save
                  </button>
               </div>
            </div>
              <hr>
            </div>
  
            <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0"
              *IfOnDom>
  
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Account Name</mat-label>
                <input matInput placeholder="Account Name" formControlName="accountName">
                <!-- <mat-error *ngIf="formErrors.legalName.required">
                    Account Name is required!
                  </mat-error> -->
              </mat-form-field>
  
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Account Code</mat-label>
                <input matInput placeholder="Account Code" formControlName="accountCode">
                <!-- <mat-error *ngIf="formErrors.legalName.required">
                      Account Code is required!
                    </mat-error> -->
              </mat-form-field>
  
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Account Type</mat-label>
                <mat-select placeholder="Account Type" formControlName="accountType">
                  <mat-option *ngFor="let s of type" [value]="s.value">
                    {{s.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Branch</mat-label>
                <input type="text" placeholder="Branch" aria-label="Number" (keyup)="searchBranch($event.target.value)" matInput formControlName="branchId"
                  [matAutocomplete]="autoBranch">
                <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoBranch="matAutocomplete" [displayWith]="displayBranch.bind(this)">
                  <mat-option *ngFor="let option of filteredOptionsBranch" [value]="option.branchName">
                    {{option.branchName}}
                  </mat-option>
                </mat-autocomplete>
                <!-- <mat-error *ngIf="formErrors.shortName.required">
                    Organisation is required!
                  </mat-error> -->
              </mat-form-field>
  
              <mat-form-field appearance={{appearance}} fxFlex.xs="100" fxFlex.gt-xs="auto">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option *ngFor="let s of accountStatus" [value]="s.value">
                    {{s.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
            <div fxFlex="1 0 auto" fxFlex="100" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" fxLayoutGap.xs="0"
              *IfOnDom>
  
              <div fxFlex.xs="100" fxFlex.gt-xs="auto" fxFlex.gt-md="50">
                <div fxFlex="1 0 auto" fxFlex="100" class="h2 mb-24">
                  Locations Details
                  <hr>
                </div>
  
                <div fxFlex="1 0 auto" fxFlex="100" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
  
                  <mat-form-field appearance={{appearance}}>
                    <mat-label>Location</mat-label>
                    <input type="text" placeholder="Location" aria-label="Number" (keyup)="searchLocation($event.target.value)" matInput formControlName="location"
                      [matAutocomplete]="autoLocation">
                    <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #autoLocation="matAutocomplete" [displayWith]="displayLocation.bind(this)">
                      <mat-option *ngFor="let option of filteredOptionsLocation" [value]="option.name">
                        {{option.name}}
                      </mat-option>
                    </mat-autocomplete>
                    <!-- <mat-error *ngIf="formErrors.location.required">
                            Location is required!
                          </mat-error> -->
                  </mat-form-field>
  
                  <mat-form-field appearance={{appearance}}>
                    <mat-label>Country Of Location</mat-label>
                    <input type="text" placeholder="Country Of Location" aria-label="Number" (keyup)="searchCountry($event.target.value)" matInput
                      formControlName="countryOfLocation" [matAutocomplete]="autoCountry">
                    <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
                    <mat-autocomplete autoActiveFirstOption #autoCountry="matAutocomplete" [displayWith]="displayCountry.bind(this)">
                      <mat-option *ngFor="let option of filteredOptionsCountry" [value]="option.country">
                        {{option.country}}
                      </mat-option>
                    </mat-autocomplete>
                    <!-- <mat-error *ngIf="formErrors.country.required">
                            Country Of Location is required!
                          </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
  
              <div fxFlex.xs="100" fxFlex.gt-xs="auto" fxFlex.gt-md="50"></div>
  
            </div>
  
          </div>
        </form>
      </div>
  </div>
</div>